body {
    font-size: 18px;
    line-height: 1.3em;
    background: #fff url("../img/background.jpeg") 0 0 no-repeat;
    background-size: inherit ;
    min-height: 100%;
}

.content {
    min-height: 100%;
    padding: 20px;
    margin: 10px auto;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #fff;
    border-radius: 5px;
}
.images-list {
    text-align: center;
}
.image-block {
    display: inline-block;
    width: 20%;
}
.image-holder {
    display: inline-block;
    margin: 5px;
    padding: 5px;
    border: 1px solid #fff;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    vertical-align: top;
    text-align: center;
    height: 300px;
}
.image {
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    vertical-align: center;
    border-radius: 5px;
}
.image-text {
    font-size: 0.9em;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border-radius: 5px;
    padding: 5px 0;
}