h1.main-title Welcome to Lesson 3!!!
    .content-holder
        - var items = [1, 2, 3]

        each item in items
            .square

    .content-holder
        - var buttons = [{title: 'first element', func: 'getFirst()'},{title: 'last element', func: 'getLast()'}, {title: 'next element', func: 'getNext()'}, {title: 'previous element', func: 'getPrevious()'},{title: 'add element', func: 'addElement()'}, {title: 'delete element', func: 'deleteElement()'}, {title: 'add to start', func: 'addToStart()'}]

        each button in buttons
            button.btn(onclick = button.func)
                = button.title